<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/common :: head('게시판')}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet" th:href="@{/css/starter-template.css}">
    <title>게시판</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:insert="~{fragments/common :: menu('board')}">
    <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">게시판</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>게시판</h2>

    <form th:object="${board}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title"
                   th:field="*{title}" readonly>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                      rows="10" th:field="*{content}" readonly></textarea>
        </div>
        <ul>
            <li th:each="file : ${files}">
                <span th:text="${file.filename}"></span>
                <a th:href="@{/api/file/download/{id}(id=${file.id})}">다운로드</a>
            </li>
        </ul>
        <div class="text-right">
<!--            <a class="btn btn-primary" th:href="@{/board/list}">목록으로</a>-->
            <a class="btn btn-primary" onclick="history.back()">목록으로</a>
            <a class="btn btn-primary" th:if="${board.title != null and (#authorization.expression('hasAuthority(''ROLE_ADMIN'')')
             or (board.user != null and #authentication.name == board.user.username))}"
               th:href="@{/board/form(id=*{id})}">수정</a>
            <button th:if="${board.title != null and (#authorization.expression('hasAuthority(''ROLE_ADMIN'')') or (board.user != null and
             #authentication.name == board.user.username))}" type="button" class="btn btn-primary" th:onclick="|deleteBoard(*{id})|">삭제</button>
        </div>
    </form>
</div>
<div style="float: right; padding-right: 50px; padding-top: 50px " >
    <p>작성일: <span th:text="${#temporals.format(board.createdAt, 'yyyy:MM:dd')}"></span></p>
    <p>작성시간: <span th:text="${#temporals.format(board.createdAt, 'HH:mm:ss')}"></span></p>
</div>

</div>

<footer th:insert="~{fragments/common :: footer}"></footer>
<script>
    function deleteBoard(id) {
        //DELETE /api/boards/{id}
        if(!confirm("게시글을 삭제하시겠습니까?")){
            return;
        }
        $.ajax({
            type: 'DELETE',
            url: '/api/boards/' + id,
            success: function(result) {
                console.log('result', result);
                alert('삭제됐습니다.');
                //삭제 성공시 요청될 url
                location.href = '/board/list';
            }
        });
    }
</script>

</body>
</html>
