<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head th:insert="~{fragments/common :: head('게시판')}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet" th:href="@{/css/starter-template.css}">
    <title>게시판</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:insert="~{fragments/common :: menu('board')}">
    <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">게시판</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>게시판</h2>

    <form th:object="${board}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title"
                   th:field="*{title}" readonly>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                      rows="10" th:field="*{content}" readonly></textarea>
        </div>
        <ul>
            <li th:each="file : ${files}">
                <span th:text="${file.filename}"></span>
                <a class="btn btn-primary" role="button" th:href="@{/api/file/download/{id}(id=${file.id})}">다운로드</a>
            </li>
        </ul>
        <div class="text-right">
<!--            <a class="btn btn-primary" th:href="@{/board/list}">목록으로</a>-->
            <a class="btn btn-primary" onclick="history.back()">목록으로</a>
            <a class="btn btn-primary" th:if="${board.title != null and (#authorization.expression('hasAuthority(''ROLE_ADMIN'')')
             or (board.user != null and #authentication.name == board.user.username))}"
               th:href="@{/board/form(id=*{id})}">수정</a>
            <button th:if="${board.title != null and (#authorization.expression('hasAuthority(''ROLE_ADMIN'')') or (board.user != null and
             #authentication.name == board.user.username))}" type="button" class="btn btn-primary" th:onclick="|deleteBoard(*{id})|">삭제</button>
        </div>
    </form>
</div>
<div style="float: right; padding-right: 50px; padding-top: 50px " >
    <p>작성일: <span th:text="${#temporals.format(board.createdAt, 'yyyy:MM:dd')}"></span></p>
    <p>작성시간: <span th:text="${#temporals.format(board.createdAt, 'HH:mm:ss')}"></span></p>
</div>

<!-- 댓글 작성 폼 -->
<div class="container">
    <div class="card-body">
        <form id="comment-form" class="form-group">
            <label for="comment-content" hidden>댓글 작성</label>
            <input type="text" id="comment-content" class="form-control" placeholder="댓글을 입력해주세요.">
            <button type="submit" class="btn btn-primary mt-2">작성</button>
        </form>
    </div>
</div>

<!-- 댓글 목록 -->
<div class="container">
    <ul id="comment-list" th:each="comment : ${comments}" class="list-unstyled">
        <li class="mb-3">
            <h5><span th:text="${comment.userName}"></span></h5>
            <span class="comment-content" th:text="${comment.content}"></span>
            <p><span class="comment-created-at"
                            th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            <span th:if="${comment.userName == #authentication.name}">
                <button class="edit-button btn btn-primary mt-2" th:data-id="${comment.id}">수정</button>
            </span>
            <span th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')') or comment.userName == #authentication.name}">
                <button class="delete-button btn btn-primary mt-2" th:data-id="${comment.id}">삭제</button>
            </span>
            <form class="edit-form" style="display: none;">
                <input class="edit-content form-control" type="text" value="${comment.content}">
                <button class="btn btn-primary mt-2" type="submit">확인</button>
                <button class="btn btn-secondary mt-2 cancel-button" type="button">취소</button>
            </form>

        </li>
    </ul>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{/board/post(id=${board.id},page=0)}">First</a>
            </li>
            <li class="page-item" th:classappend="${1 == comments.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/board/post(id=${board.id},page=${comments.pageable.pageNumber - 1})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == comments.pageable.pageNumber + 1 && i != 0} ? 'disabled'"
                th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/board/post(id=${board.id},page=${i - 1})}"
                   th:text="${i}" th:if="${i != 0}"></a>
            </li>

            <li class="page-item" th:classappend="${comments.totalPages == comments.pageable.pageNumber + 1 || comments.totalPages == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/board/post(id=${board.id},page=${comments.pageable.pageNumber + 1})}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/board/post(id=${board.id},page=${comments.totalPages - 1})}">Last</a>
            </li>
        </ul>
    </nav>

    <div>
        <label for="commentOrderBy" class="sr-only">정렬 방식</label>
        <select id="commentOrderBy" class="custom-select" style="width: 120px"
                th:onchange="|location.href='?id=' + ${board.id} + '&commentOrderBy=' + this.value;|">
            <option value="desc" th:selected="${commentOrderBy == 'desc'}">최신순</option>
            <option value="asc" th:selected="${commentOrderBy == 'asc'}">오래된순</option>
        </select>
    </div>


</div>


<footer th:insert="~{fragments/common :: footer}"></footer>

<script th:inline="javascript">
    let boardId = [[${board.id}]];
    let userId = [[${userId}]];
    console.log("boardId: " + boardId);
    console.log("userId: " + userId);
</script>
<script>
    function deleteBoard(id) {
        //DELETE /api/boards/{id}
        if(!confirm("게시글을 삭제하시겠습니까?")){
            return;
        }
        $.ajax({
            type: 'DELETE',
            url: '/api/boards/' + id,
            success: function(result) {
                console.log('result', result);
                alert('삭제됐습니다.');
                //삭제 성공시 요청될 url
                location.href = '/board/list';
            }
        });
    }
    // 댓글 작성
    $('#comment-form').submit(function (event) {
        event.preventDefault();
        let content = $('#comment-content').val();
        $.ajax({
            type: 'POST',
            url: '/api/comments',
            contentType: 'application/json',
            data: JSON.stringify({
                content: content,
                boardId: boardId,
                userId: userId,
            }),
            success: function () {
                // 페이지 새로고침
                location.reload();
            }
        });
    });
    //댓글 수정
    $(document).on('click', '.edit-button', function() {
        let commentId = $(this).data('id');
        let commentLi = $(this).closest('li');
        let commentContent = commentLi.find('.comment-content');
        let editForm = commentLi.find('.edit-form');
        let editContent = editForm.find('.edit-content');
        let editButton = commentLi.find('.edit-button');

        commentContent.hide();
        editForm.show();
        editButton.hide();
        editContent.val(commentContent.text());
    });

    $(document).on('click', '.cancel-button', function() {
        let commentLi = $(this).closest('li');
        let commentContent = commentLi.find('.comment-content');
        let editForm = commentLi.find('.edit-form');
        let button = commentLi.find('.edit-button')

        editForm.hide();
        button.show();
        commentContent.show();
    });

    $(document).on('submit', '.edit-form', function(e) {
        e.preventDefault();
        let commentLi = $(this).closest('li');
        let commentId = commentLi.find('.edit-button').data('id');
        let commentContent = commentLi.find('.comment-content');
        let editForm = $(this);
        let editContent = editForm.find('.edit-content');
        let editButton = commentLi.find('.edit-button')
        $.ajax({
            url: '/api/comments/' + commentId,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({
                content: editContent.val()
            }),
            success: function() {
                commentContent.text(editContent.val());
                commentLi.find('.comment-created-at').text(new Date().toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'})); // 수정 시간 업데이트
                editForm.hide();
                editButton.show();
                commentContent.show();
            }
        });
    });
    // 댓글 삭제
    $(document).on('click', '.delete-button', function () {
        let id = $(this).data('id');
        $.ajax({
            type: 'DELETE',
            url: '/api/comments/' + id,
            success: function () {
                // 댓글 삭제
                $('button[data-id="' + id + '"]').closest('li').remove();
            }
        });
    });
</script>

</body>
</html>
